<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>frog_dead</key>
			<dict>
				<key>frame</key>
				<string>{{1,110},{110,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,97}}</string>
				<key>sourceSize</key>
				<string>{110,97}</string>
			</dict>
			<key>frog_move</key>
			<dict>
				<key>frame</key>
				<string>{{1,11},{110,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,97}}</string>
				<key>sourceSize</key>
				<string>{110,97}</string>
			</dict>
			<key>snail_move</key>
			<dict>
				<key>frame</key>
				<string>{{113,135},{110,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,72}}</string>
				<key>sourceSize</key>
				<string>{110,72}</string>
			</dict>
			<key>ladybug_dead</key>
			<dict>
				<key>frame</key>
				<string>{{113,57},{105,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,76}}</string>
				<key>sourceSize</key>
				<string>{105,76}</string>
			</dict>
			<key>frog</key>
			<dict>
				<key>frame</key>
				<string>{{225,136},{104,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,71}}</string>
				<key>sourceSize</key>
				<string>{104,71}</string>
			</dict>
			<key>ladybug_move</key>
			<dict>
				<key>frame</key>
				<string>{{331,145},{110,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,62}}</string>
				<key>sourceSize</key>
				<string>{110,62}</string>
			</dict>
			<key>mouse</key>
			<dict>
				<key>frame</key>
				<string>{{443,144},{107,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,63}}</string>
				<key>sourceSize</key>
				<string>{107,63}</string>
			</dict>
			<key>mouse_dead</key>
			<dict>
				<key>frame</key>
				<string>{{552,144},{107,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,63}}</string>
				<key>sourceSize</key>
				<string>{107,63}</string>
			</dict>
			<key>ladybug</key>
			<dict>
				<key>frame</key>
				<string>{{661,145},{106,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,62}}</string>
				<key>sourceSize</key>
				<string>{106,62}</string>
			</dict>
			<key>mouse_move</key>
			<dict>
				<key>frame</key>
				<string>{{769,144},{105,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,63}}</string>
				<key>sourceSize</key>
				<string>{105,63}</string>
			</dict>
			<key>slimeBlue</key>
			<dict>
				<key>frame</key>
				<string>{{876,145},{88,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,62}}</string>
				<key>sourceSize</key>
				<string>{88,62}</string>
			</dict>
			<key>slimeBlue_dead</key>
			<dict>
				<key>frame</key>
				<string>{{876,81},{88,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,62}}</string>
				<key>sourceSize</key>
				<string>{88,62}</string>
			</dict>
			<key>slimeBlue_move</key>
			<dict>
				<key>frame</key>
				<string>{{113,1},{104,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,54}}</string>
				<key>sourceSize</key>
				<string>{104,54}</string>
			</dict>
			<key>slimeGreen_move</key>
			<dict>
				<key>frame</key>
				<string>{{331,89},{104,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,54}}</string>
				<key>sourceSize</key>
				<string>{104,54}</string>
			</dict>
			<key>wormGreen</key>
			<dict>
				<key>frame</key>
				<string>{{437,100},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,42}}</string>
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>slimePurple_move</key>
			<dict>
				<key>frame</key>
				<string>{{225,80},{104,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,54}}</string>
				<key>sourceSize</key>
				<string>{104,54}</string>
			</dict>
			<key>wormGreen_dead</key>
			<dict>
				<key>frame</key>
				<string>{{555,100},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,42}}</string>
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>slimeGreen</key>
			<dict>
				<key>frame</key>
				<string>{{673,81},{88,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,62}}</string>
				<key>sourceSize</key>
				<string>{88,62}</string>
			</dict>
			<key>snail</key>
			<dict>
				<key>frame</key>
				<string>{{763,70},{100,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,72}}</string>
				<key>sourceSize</key>
				<string>{100,72}</string>
			</dict>
			<key>wormGreen_move</key>
			<dict>
				<key>frame</key>
				<string>{{437,56},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,42}}</string>
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>wormPink</key>
			<dict>
				<key>frame</key>
				<string>{{555,56},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,42}}</string>
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>wormPink_dead</key>
			<dict>
				<key>frame</key>
				<string>{{220,36},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,42}}</string>
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>slimeGreen_dead</key>
			<dict>
				<key>frame</key>
				<string>{{338,25},{88,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,62}}</string>
				<key>sourceSize</key>
				<string>{88,62}</string>
			</dict>
			<key>wormPink_move</key>
			<dict>
				<key>frame</key>
				<string>{{428,12},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,42}}</string>
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>slimePurple</key>
			<dict>
				<key>frame</key>
				<string>{{673,17},{88,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,62}}</string>
				<key>sourceSize</key>
				<string>{88,62}</string>
			</dict>
			<key>slimePurple_dead</key>
			<dict>
				<key>frame</key>
				<string>{{763,6},{88,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,62}}</string>
				<key>sourceSize</key>
				<string>{88,62}</string>
			</dict>
			<key>snail_dead</key>
			<dict>
				<key>frame</key>
				<string>{{865,15},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>enemies.png</string>
			<key>textureFileName</key>
			<string>enemies.png</string>
		</dict>
	</dict>
</plist>
