<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>frog_dead</key>
			<dict>
				<key>frame</key>
				<string>{{1,175},{110,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,97}}</string>
				<key>sourceSize</key>
				<string>{110,97}</string>
			</dict>
			<key>frog_move</key>
			<dict>
				<key>frame</key>
				<string>{{1,76},{110,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,97}}</string>
				<key>sourceSize</key>
				<string>{110,97}</string>
			</dict>
			<key>snail_move</key>
			<dict>
				<key>frame</key>
				<string>{{1,2},{110,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,72}}</string>
				<key>sourceSize</key>
				<string>{110,72}</string>
			</dict>
			<key>ladybug_fly</key>
			<dict>
				<key>frame</key>
				<string>{{113,196},{105,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,76}}</string>
				<key>sourceSize</key>
				<string>{105,76}</string>
			</dict>
			<key>frog</key>
			<dict>
				<key>frame</key>
				<string>{{113,123},{104,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,71}}</string>
				<key>sourceSize</key>
				<string>{104,71}</string>
			</dict>
			<key>snail</key>
			<dict>
				<key>frame</key>
				<string>{{113,49},{100,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,72}}</string>
				<key>sourceSize</key>
				<string>{100,72}</string>
			</dict>
			<key>wormGreen</key>
			<dict>
				<key>frame</key>
				<string>{{113,5},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,42}}</string>
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>ladybug_move</key>
			<dict>
				<key>frame</key>
				<string>{{215,59},{110,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,62}}</string>
				<key>sourceSize</key>
				<string>{110,62}</string>
			</dict>
			<key>slimeBlue_move</key>
			<dict>
				<key>frame</key>
				<string>{{231,3},{104,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,54}}</string>
				<key>sourceSize</key>
				<string>{104,54}</string>
			</dict>
			<key>mouse</key>
			<dict>
				<key>frame</key>
				<string>{{219,131},{107,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,63}}</string>
				<key>sourceSize</key>
				<string>{107,63}</string>
			</dict>
			<key>mouse_dead</key>
			<dict>
				<key>frame</key>
				<string>{{327,66},{107,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,63}}</string>
				<key>sourceSize</key>
				<string>{107,63}</string>
			</dict>
			<key>mouse_move</key>
			<dict>
				<key>frame</key>
				<string>{{337,1},{105,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,63}}</string>
				<key>sourceSize</key>
				<string>{105,63}</string>
			</dict>
			<key>ladybug</key>
			<dict>
				<key>frame</key>
				<string>{{220,210},{106,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,62}}</string>
				<key>sourceSize</key>
				<string>{106,62}</string>
			</dict>
			<key>slimeGreen_move</key>
			<dict>
				<key>frame</key>
				<string>{{328,218},{104,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,54}}</string>
				<key>sourceSize</key>
				<string>{104,54}</string>
			</dict>
			<key>slimePurple_move</key>
			<dict>
				<key>frame</key>
				<string>{{328,162},{104,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,54}}</string>
				<key>sourceSize</key>
				<string>{104,54}</string>
			</dict>
			<key>slimeBlue_hit</key>
			<dict>
				<key>frame</key>
				<string>{{328,137},{102,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,23}}</string>
				<key>sourceSize</key>
				<string>{102,23}</string>
			</dict>
			<key>slimeGreen_hit</key>
			<dict>
				<key>frame</key>
				<string>{{432,137},{102,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,23}}</string>
				<key>sourceSize</key>
				<string>{102,23}</string>
			</dict>
			<key>slimeBlue</key>
			<dict>
				<key>frame</key>
				<string>{{436,73},{88,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,62}}</string>
				<key>sourceSize</key>
				<string>{88,62}</string>
			</dict>
			<key>slimeBlue_dead</key>
			<dict>
				<key>frame</key>
				<string>{{444,9},{88,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,62}}</string>
				<key>sourceSize</key>
				<string>{88,62}</string>
			</dict>
			<key>slimeGreen</key>
			<dict>
				<key>frame</key>
				<string>{{526,73},{88,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,62}}</string>
				<key>sourceSize</key>
				<string>{88,62}</string>
			</dict>
			<key>slimeGreen_dead</key>
			<dict>
				<key>frame</key>
				<string>{{534,9},{88,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,62}}</string>
				<key>sourceSize</key>
				<string>{88,62}</string>
			</dict>
			<key>slimePurple</key>
			<dict>
				<key>frame</key>
				<string>{{616,210},{88,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,62}}</string>
				<key>sourceSize</key>
				<string>{88,62}</string>
			</dict>
			<key>snail_shell</key>
			<dict>
				<key>frame</key>
				<string>{{536,208},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>
			<key>slimePurple_dead</key>
			<dict>
				<key>frame</key>
				<string>{{434,210},{88,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,62}}</string>
				<key>sourceSize</key>
				<string>{88,62}</string>
			</dict>
			<key>wormGreen_dead</key>
			<dict>
				<key>frame</key>
				<string>{{434,164},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,42}}</string>
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>slimePurple_hit</key>
			<dict>
				<key>frame</key>
				<string>{{536,139},{102,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,23}}</string>
				<key>sourceSize</key>
				<string>{102,23}</string>
			</dict>
			<key>wormGreen_move</key>
			<dict>
				<key>frame</key>
				<string>{{616,166},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,42}}</string>
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>wormPink</key>
			<dict>
				<key>frame</key>
				<string>{{616,95},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,42}}</string>
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>wormPink_dead</key>
			<dict>
				<key>frame</key>
				<string>{{624,51},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,42}}</string>
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>wormPink_move</key>
			<dict>
				<key>frame</key>
				<string>{{624,7},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,42}}</string>
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>enemies.png</string>
			<key>textureFileName</key>
			<string>enemies.png</string>
		</dict>
	</dict>
</plist>
