<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fondoparte1</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1280,896}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1280,896}}</string>
				<key>sourceSize</key>
				<string>{1280,896}</string>
			</dict>
			<key>fondoparte2</key>
			<dict>
				<key>frame</key>
				<string>{{1283,1},{1280,896}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1280,896}}</string>
				<key>sourceSize</key>
				<string>{1280,896}</string>
			</dict>
			<key>fondoparte3</key>
			<dict>
				<key>frame</key>
				<string>{{2565,1},{1280,896}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1280,896}}</string>
				<key>sourceSize</key>
				<string>{1280,896}</string>
			</dict>
			<key>Slider_Back</key>
			<dict>
				<key>frame</key>
				<string>{{3847,883},{200,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,14}}</string>
				<key>sourceSize</key>
				<string>{200,14}</string>
			</dict>
			<key>Slider_PressBar</key>
			<dict>
				<key>frame</key>
				<string>{{3847,867},{200,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,14}}</string>
				<key>sourceSize</key>
				<string>{200,14}</string>
			</dict>
			<key>arcade0</key>
			<dict>
				<key>frame</key>
				<string>{{3847,803},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,62}}</string>
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>arcade1</key>
			<dict>
				<key>frame</key>
				<string>{{3847,739},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,62}}</string>
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>options0</key>
			<dict>
				<key>frame</key>
				<string>{{3847,675},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,62}}</string>
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>options1</key>
			<dict>
				<key>frame</key>
				<string>{{3847,611},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,62}}</string>
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>select0</key>
			<dict>
				<key>frame</key>
				<string>{{3847,547},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,62}}</string>
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>select1</key>
			<dict>
				<key>frame</key>
				<string>{{3847,483},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,62}}</string>
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>start0</key>
			<dict>
				<key>frame</key>
				<string>{{3847,419},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,62}}</string>
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>start1</key>
			<dict>
				<key>frame</key>
				<string>{{3847,355},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,62}}</string>
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>level_lock</key>
			<dict>
				<key>frame</key>
				<string>{{3967,815},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>level_unlock0</key>
			<dict>
				<key>frame</key>
				<string>{{3847,303},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>level_unlock1</key>
			<dict>
				<key>frame</key>
				<string>{{3967,763},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>back0</key>
			<dict>
				<key>frame</key>
				<string>{{3847,264},{49,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,37}}</string>
				<key>sourceSize</key>
				<string>{49,37}</string>
			</dict>
			<key>back1</key>
			<dict>
				<key>frame</key>
				<string>{{3899,316},{49,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,37}}</string>
				<key>sourceSize</key>
				<string>{49,37}</string>
			</dict>
			<key>SliderNode_Disable</key>
			<dict>
				<key>frame</key>
				<string>{{4019,845},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>SliderNode_Normal</key>
			<dict>
				<key>frame</key>
				<string>{{3967,741},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>SliderNode_Press</key>
			<dict>
				<key>frame</key>
				<string>{{3847,242},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>mainMenu.png</string>
			<key>textureFileName</key>
			<string>mainMenu.png</string>
		</dict>
	</dict>
</plist>
