<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>alienGreen_swim2</key>
			<dict>
				<key>frame</key>
				<string>{{1,156},{111,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,158}}</string>
				<key>sourceSize</key>
				<string>{111,158}</string>
			</dict>
			<key>alienGreen_jump</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{108,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,153}}</string>
				<key>sourceSize</key>
				<string>{108,153}</string>
			</dict>
			<key>alienGreen_walk2</key>
			<dict>
				<key>frame</key>
				<string>{{114,158},{112,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,156}}</string>
				<key>sourceSize</key>
				<string>{112,156}</string>
			</dict>
			<key>alienGreen_swim1</key>
			<dict>
				<key>frame</key>
				<string>{{228,159},{110,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,155}}</string>
				<key>sourceSize</key>
				<string>{110,155}</string>
			</dict>
			<key>alienGreen_hit</key>
			<dict>
				<key>frame</key>
				<string>{{340,163},{110,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,151}}</string>
				<key>sourceSize</key>
				<string>{110,151}</string>
			</dict>
			<key>alienGreen_walk1</key>
			<dict>
				<key>frame</key>
				<string>{{452,162},{108,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,152}}</string>
				<key>sourceSize</key>
				<string>{108,152}</string>
			</dict>
			<key>alienGreen_climb1</key>
			<dict>
				<key>frame</key>
				<string>{{111,4},{105,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,150}}</string>
				<key>sourceSize</key>
				<string>{105,150}</string>
			</dict>
			<key>alienGreen_climb2</key>
			<dict>
				<key>frame</key>
				<string>{{218,6},{105,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,150}}</string>
				<key>sourceSize</key>
				<string>{105,150}</string>
			</dict>
			<key>alienGreen_front</key>
			<dict>
				<key>frame</key>
				<string>{{325,7},{105,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,150}}</string>
				<key>sourceSize</key>
				<string>{105,150}</string>
			</dict>
			<key>alienGreen_stand</key>
			<dict>
				<key>frame</key>
				<string>{{432,13},{107,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,147}}</string>
				<key>sourceSize</key>
				<string>{107,147}</string>
			</dict>
			<key>alienGreen_duck</key>
			<dict>
				<key>frame</key>
				<string>{{541,43},{113,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,117}}</string>
				<key>sourceSize</key>
				<string>{113,117}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>player.png</string>
			<key>textureFileName</key>
			<string>player.png</string>
		</dict>
	</dict>
</plist>
